@model SDC_Web.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipping)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipping)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceByNavigation.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectTag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedByNavigation.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
