@model IEnumerable<SDC_Web.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Invoices Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceDate)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Terms)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.BillPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillAddress)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.BillPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillEmail)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ShipPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShipAddress)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shipping)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceByNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedByNavigation)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.BillPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillAddress)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BillPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillEmail)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ShipPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceByNavigation.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectTag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedByNavigation.FirstName)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
