@model SDC_Web.Models.SupplierOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupplierOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderingEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderingEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountOw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountOw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountOr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountOr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Company)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SupplierId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
