@model SDC_Web.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FloorCeiling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FloorCeiling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotCeiling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotCeiling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BotFloor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BotFloor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LootObject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LootObject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RootObject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RootObject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsideHorizontal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsideHorizontal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsideVertical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsideVertical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutsideHorizontal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutsideHorizontal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutsideVertical)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutsideVertical)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrimDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrimDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsideDepth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsideDepth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Control)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Control)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DesignedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DesignedByNavigation.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectTag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedByNavigation.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-projectId="@Model.ProjectId" asp-route-roomId="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
